@mixin welcome-background($gradient, $background-url) {
    background: {
        image: linear-gradient($gradient), url($background-url);
        repeat: no-repeat;
        size: cover;
        color: #fff;
    }
}