@media (max-width: 575.98px) {

    .welcome {
        height: auto;
    }

    .welcome_btn__align {
        margin-top: 9px;
    }

    .input_block {
        width: 300px;
    }

    .btn-sign-up {
        width: 100px;
        font-size: 13px;
    }

    .news_input {
        font-size: 13px;
    }
    
}
