$fontRobotoSlab: 'Roboto Slab', serif;
$fontRoboto: 'Roboto', sans-serif;

$white: #fff;
$gray: #31353e;
$darkRed: #612316;

$gradientDark: 0deg, #000 0%, rgba(0,0,0,0) 100%;
$gradientLight: 0deg, #000 0%, rgba(6,28,91,0) 100%;