.contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: $textColor;
    margin: {
        top: 70px;
        bottom: 70px;
    };

    &_title__align {
        @extend .title__size_m;
        margin: {
            bottom: 33px;
        }
    }

    &_block {
        width: 50%;
    };

    &_input {
        @extend .text__size_s;
        padding: {
            top: 10px;
            bottom: 10px;
            left: 15px;
        }
        width: 350px;
        border: 1px solid rgba(0, 0, 0, .1);
        margin: {
            bottom: 20px;
        }
    };

    &_button {
        @extend .button;
        margin: {
            top: 0;
        };
    };
}

.clients {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    &_list {
        margin: {
            bottom: 45px;
            right: 80px;
        };
    }
}