.team {
    @include welcome-background("../../images/team_bg.jpeg");
    // min-height: 100vh;
    min-height: 710px;
    color: $textColorMain;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: {
        top: 70px;
    };

    &_item {
        display: flex;
        justify-content: space-between;
        text-align: center;
        flex-wrap: wrap;
        padding: {
            top: 45px;
            bottom: 45px;
        };

        &_block {
            border: 1px solid #e1e1e1;
            height: 309px;
            width: 220px;
        };

        &_text {
            @extend .text__size_s;
            color: #fafafa;
            font: {
                size: 13px;
            }
            margin: 0;
        };

        &_title {
            @extend .title__size_s;
            margin: {
                top: 15px;
                bottom: 0;
            }
        }   
    };

    &_button {
        @extend .button;
        width: 140px;
        height: 40px;
        border-radius: 2px;
        margin: {
            top: 10px;
        };
    };
    
    &_text {
        @extend .text__size_s;
        color: #f9f9f9;
        font: {
            family: $fontPlayfair;
            weight: 400;
        }
        margin: {
            top: 0;
        }
    }
}

.horizontal-line__color_white {
    @extend .horizontal-line;
    background: {
        color: $textColorMain;
    };
}