.testimonials {
    @include welcome-background("../../images/testimonials_bg.jpeg");
    // height: 100vh;
    min-height: 500px;
    color: $textColorMain;
    text-align: center;
    padding-bottom: 70px;

    &_slide {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
    };

    &_comment {
        @extend .text__size_l;
        width: 780px;
        line-height: 26px;
    };

    &_title {
        @extend .title__size_s;
        margin: {
            bottom: 0;
        }
    };

    &_text {
        @extend .text__size_s;
        font: {
            size: 13px;
        }
        margin: 0;
    };

    &_img {
        margin: {
            top: 40px;
        };
    }
}