.main_title {
  font-size: 32px;
  font-family: "Playfair Display", sans-serif;
  font-weight: 900;
}

.text__size_s, .expertise_text, .expertise_text__align, .team_item_text, .team_text, .works_link, .testimonials_text, .contact_input, .top-footer_input, .top-footer_text__align {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 24px;
}

.text__size_m, .top-footer_text {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}

.text__size_l, .testimonials_comment {
  font-size: 16px;
  font-family: "Playfair Display", sans-serif;
  font-weight: 400;
}

.title__size_l {
  font-size: 100px;
  font-family: "Playfair Display", sans-serif;
  font-weight: 400;
  letter-spacing: 3px;
  line-height: 22px;
  padding-top: 100px;
  margin-top: 0;
  margin-bottom: 20px;
}

.title__size_m, .contact_title__align {
  font-size: 22px;
  font-family: "Playfair Display", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.title__size_s, .expertise_title__align, .team_item_title, .testimonials_title {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  line-height: 24px;
}

.button, .team_button, .contact_button {
  width: 121px;
  height: 41px;
  color: #00E0D0;
  border: 1px solid #00E0D0;
  margin-top: 49px;
  background-color: rgba(50, 42, 83, 0);
  font-size: 16px;
  font-family: "Hammersmith One", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

body {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 940px;
  margin: 0 auto;
}

.header {
  background-image: linear-gradient(rgba(50, 42, 83, 0.8), rgba(50, 42, 83, 0.8)), url("../../images/header_bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #322A53;
  min-height: 670px;
  color: #fff;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 15px;
}

.logo {
  font-size: 0;
  height: 50px;
  width: 128px;
}

.menu, .bottom-footer_menu {
  display: flex;
  justify-content: space-between;
  width: 526px;
  height: 9px;
}
.menu_list {
  list-style: none;
}
.menu_link {
  color: #fff;
  font-size: 13px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  text-decoration: none;
  text-transform: uppercase;
}
.menu_link:hover {
  color: #00E0D0;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 163px;
  text-align: center;
}
.main_text__size_s {
  margin-top: 30px;
  line-height: 21px;
}
.main_dotnav {
  padding-top: 120px;
}

.horizontal-line, .horizontal-line__color, .horizontal-line__color_white {
  width: 51px;
  height: 1px;
  background-color: #00E0D0;
}

.our-story {
  display: flex;
  justify-content: space-between;
  min-height: 400px;
  color: #413d4b;
  padding-top: 70px;
}
.our-story__align {
  width: 540px;
  min-height: 170px;
}

.video {
  background-image: linear-gradient(rgba(50, 42, 83, 0.8), rgba(50, 42, 83, 0.8)), url("../../images/video_bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #322A53;
  min-height: 100vh;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.expertise {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #413d4b;
  padding-top: 70px;
  padding-bottom: 70px;
}
.expertise_text {
  color: #2f2d35;
  font-family: "Playfair Display", sans-serif;
  font-weight: 400;
  margin-top: 0;
}
.expertise_bloks {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 46px;
}
.expertise_elem {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 240px;
  height: 200px;
  padding-top: 37px;
  padding-bottom: 38px;
  padding-left: 32px;
  padding-right: 32px;
}
.expertise_elem:nth-child(n+4) {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.expertise_elem:nth-child(3n+2) {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
.expertise_img {
  height: 50px;
  margin-bottom: 25px;
}
.expertise_text__align {
  color: #333;
  width: 230px;
}
.expertise_title__align {
  margin: 0;
}

.horizontal-line__color {
  background-color: #413d4b;
}

.team {
  background-image: linear-gradient(rgba(50, 42, 83, 0.8), rgba(50, 42, 83, 0.8)), url("../../images/team_bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #322A53;
  min-height: 710px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 70px;
}
.team_item {
  display: flex;
  justify-content: space-between;
  text-align: center;
  flex-wrap: wrap;
  padding-top: 45px;
  padding-bottom: 45px;
}
.team_item_block {
  border: 1px solid #e1e1e1;
  height: 309px;
  width: 220px;
}
.team_item_text {
  color: #fafafa;
  font-size: 13px;
  margin: 0;
}
.team_item_title {
  margin-top: 15px;
  margin-bottom: 0;
}
.team_button {
  width: 140px;
  height: 40px;
  border-radius: 2px;
  margin-top: 10px;
}
.team_text {
  color: #f9f9f9;
  font-family: "Playfair Display", sans-serif;
  font-weight: 400;
  margin-top: 0;
}

.horizontal-line__color_white {
  background-color: #fff;
}

.works {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #413d4b;
  padding-top: 48px;
  margin-bottom: 70px;
}
.works_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.works_link {
  color: #413d4b;
  text-decoration: none;
}
.works_img {
  float: left;
  width: 16.6%;
}
.works_img__align {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 267px;
}

.testimonials {
  background-image: linear-gradient(rgba(50, 42, 83, 0.8), rgba(50, 42, 83, 0.8)), url("../../images/testimonials_bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #322A53;
  min-height: 500px;
  color: #fff;
  text-align: center;
  padding-bottom: 70px;
}
.testimonials_slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}
.testimonials_comment {
  width: 780px;
  line-height: 26px;
}
.testimonials_title {
  margin-bottom: 0;
}
.testimonials_text {
  font-size: 13px;
  margin: 0;
}
.testimonials_img {
  margin-top: 40px;
}

.contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: #413d4b;
  margin-top: 70px;
  margin-bottom: 70px;
}
.contact_title__align {
  margin-bottom: 33px;
}
.contact_block {
  width: 50%;
}
.contact_input {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  width: 350px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
.contact_button {
  margin-top: 0;
}

.clients {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.clients_list {
  margin-bottom: 45px;
  margin-right: 80px;
}

.footer {
  background-image: linear-gradient(rgba(50, 42, 83, 0.8), rgba(50, 42, 83, 0.8)), url("../../images/footer_bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #322A53;
  min-height: 400px;
  color: #fff;
  padding-top: 70px;
}

.top-footer {
  display: flex;
  justify-content: space-between;
}
.top-footer_block {
  width: 300px;
  padding-right: 23px;
}
.top-footer_block__align {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.top-footer_input {
  width: 210px;
  height: 45px;
  background-color: rgba(9, 5, 47, 0.1);
  border: 1px solid #fff;
  box-sizing: border-box;
  padding-left: 10px;
}
.top-footer_button {
  width: 70px;
  height: 45px;
  background-color: rgba(255, 255, 255, 0.4);
  border: 1px solid #fff;
  box-sizing: border-box;
  margin-left: 5px;
}
.top-footer_img {
  float: left;
}
.top-footer_text__align {
  margin-left: 25px;
}
.top-footer_icon {
  width: 35px;
  height: 35px;
  border-radius: 17px;
  border: 1px solid #fff;
}
.top-footer_icon_block {
  width: 250px;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.top-footer_icon__img {
  display: block;
  margin: 10px auto;
}

.bottom-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}
.bottom-footer_block {
  width: 250px;
}
.bottom-footer_menu {
  width: 310px;
  padding: 0;
}

@media (max-width: 991.98px) {
  .wrapper {
    max-width: 700px;
  }

  .main {
    padding-top: 100px;
  }

  .button, .team_button, .contact_button {
    margin-top: 10px;
  }

  .our-story__align {
    padding-left: 40px;
  }

  .expertise_bloks {
    justify-content: center;
    padding-top: 16px;
  }

  .expertise_elem:nth-child(3n+2) {
    border: none;
  }
  .expertise_elem:nth-child(2n+1) {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
  }
  .expertise_elem:nth-child(n+3) {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }

  .team_item {
    justify-content: space-around;
    padding-bottom: 5px;
  }

  .team_item_block {
    margin-right: 20px;
    margin-bottom: 20px;
  }

  .team_button {
    margin-bottom: 20px;
  }

  .works_header {
    width: 600px;
  }

  .testimonials_comment {
    width: 550px;
  }

  .contact_input {
    width: 250px;
  }

  .clients {
    justify-content: space-between;
  }

  .clients_list {
    margin-right: 25px;
  }

  .bottom-footer {
    margin-top: 30px;
  }
}
@media (max-width: 767.98px) {
  .wrapper {
    max-width: 500px;
  }

  .main_title {
    font-size: 30px;
  }

  .title__size_m, .contact_title__align {
    margin: 5px;
  }

  .title__size_s, .expertise_title__align, .team_item_title, .testimonials_title, .text__size_s, .expertise_text, .expertise_text__align, .team_item_text, .team_text, .works_link, .testimonials_text, .contact_input, .top-footer_input, .top-footer_text__align {
    font-size: 12px;
  }

  .menu, .bottom-footer_menu {
    width: 300px;
    flex-wrap: wrap;
  }

  .menu_list {
    margin-right: 10px;
  }

  .main_dotnav {
    padding-top: 100px;
  }

  .our-story {
    padding-top: 35px;
  }

  .our-story_img {
    width: 150px;
    height: 150px;
  }

  .our-story__align {
    padding-left: 20px;
  }

  .team {
    padding-top: 35px;
  }

  .expertise {
    padding-top: 35px;
    padding-bottom: 35px;
  }

  .expertise_elem {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .expertise_elem:nth-child(3n+2) {
    border: none;
  }
  .expertise_elem:nth-child(2n+1) {
    border-right: none;
  }
  .expertise_elem:nth-child(n+2) {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }

  .works {
    margin-bottom: 35px;
    padding-top: 30px;
  }

  .works_header {
    margin-bottom: 20px;
  }

  .works_img {
    width: 24.6%;
  }

  .contact {
    margin-top: 35px;
    margin-bottom: 35px;
  }

  .contact_block {
    width: 500px;
  }

  .contact_input {
    width: 400px;
  }

  .contact_button {
    margin-bottom: 20px;
  }

  .clients_list {
    margin-right: 26px;
    width: 100px;
    margin-bottom: 20px;
  }

  .clients {
    justify-content: space-around;
  }

  .contact_title__align {
    margin-bottom: 25px;
    text-align: center;
  }

  .footer {
    padding-top: 35px;
  }

  .top-footer {
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .top-footer_block {
    width: 225px;
    padding-right: 15px;
  }

  .top-footer_text {
    text-align: center;
  }

  .bottom-footer_menu {
    width: 210px;
    height: 60px;
  }

  .bottom-footer_block {
    width: 210px;
  }

  .massage_form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 575.98px) {
  .wrapper {
    max-width: 300px;
  }

  .title__size_l {
    padding-top: 50px;
  }

  .menu, .bottom-footer_menu {
    width: 100px;
  }

  .our-story {
    flex-wrap: wrap;
    padding-bottom: 20px;
    justify-content: center;
  }

  .our-story_img {
    padding-bottom: 20px;
  }

  .team_item_block {
    margin-right: 0;
  }

  .works_header {
    flex-wrap: wrap;
  }

  .works_img {
    width: 50%;
  }

  .testimonials {
    padding-bottom: 35px;
  }

  .testimonials_comment {
    width: 300px;
    font-size: 13px;
  }

  .testimonials_img {
    width: 290px;
  }

  .contact_input {
    width: 260px;
  }

  .clients_list {
    margin-right: 1px;
  }
}

/*# sourceMappingURL=style.css.map */
