/* 
==========================================
		Скидання стилів браузера
==========================================
*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*
===========================================
		Стилі користувача
===========================================
*/
body {
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sens-serif;
	letter-spacing: .01em;
	text-transform: uppercase;
}
header {
	background-color: #3498db;
	padding: 100px;
	text-align: center;
	height: 850px;
}
section {
	padding: 100px;
}
footer {
	background: #2C3E50;
	height: 150px;
}
strong {
	font-weight: 500;
}
/* ======= Сітка ======= */
*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
/*клас для різних елементів, щоб встановити спільну
ширину, вирівнявши елементи по центру сторінки і 
встановити спільні горизонтальні поля*/
.container {
	margin: 0 auto; /*рівні ліве і праве поле для елемента*/
	padding-left: 15px; /*відступ зліва всередині елемента*/
	padding-right: 15px; /*відступ справа всередині елемента*/
	text-align: center;
	width: 2000px; /*ширина елемента*/
}
/*макет з трьох колонок*/
.col-1-3 {
	display: inline-block; /*строчно-блочний елемент*/
	vertical-align: top; /*вирівнювання зверху*/
	width: 23.33%; /*ширина колонок*/
	padding-left: 15px;
	padding-right: 15px;
}
/* ======= Типографіка ======= */
/*вертикальний простір між елементами*/
h1, h2, h3, h4, p {
	margin-bottom: 22px;
}
h1, header h2 {
	color: #fff;
	line-height: 40px;
}
h1 {
	font-size: 63px;
	margin-top: 265px;
}
header h2 {
	font-size: 45px;
	margin-top: 50px;
}
header img {
	padding: 0 444px;
}
h2, h3, p {
	line-height: 40px;
}
h3 {
	font-size: 30px;
}
h2, h4, p {
	font-size: 16px;
}
h4 {
	line-height: 30px;
	font-weight: 700;
}
a {
	text-decoration: none;
}
div {
	margin-bottom: 120px;
	margin-top: 470px;	
}
div li {
	display: inline-block;
	margin: 0 12.5px;
	vertical-align: bottom;
}
div img, .our_team img {
	background-color: #fff;
	border-radius: 50%;
	height: 220px;
}
div img {
	margin: -90px 0 40px 0;
}
.our_team img { /*Our team*/
	margin: -300px 0 35px 0;
}
.our_team li img {
	border-radius: 0;
	display: inline-block;
	height: 35px;
	margin: 0;
	vertical-align: bottom;
	width: 35px;
}
.img_x {
	margin-bottom: 20px;
}
.white3 div {
	margin-bottom: 100px;
	margin-top: 300px;
}
.about_us, .qf, .hf {
	background-color: #fff;
	border-radius: 10px;
	height: 540px;
	padding: 80px 55px;
	position: absolute;
	text-align: center;
	top: 3045px;
	width: 555px;
}
.about_us { 	/*ABOUT US*/
	height: 580px;
	left: 430px;
	padding: 75px 185px;
	right: 430px;
	top: 650px;
	width: 1140px;
}
.qf {			/*Quodsi fabulas*/
	left: 430px;
	right: 1015px;
}
.hf { 			/*Habemus fuisset*/
	left: 1015px;
	right: 430px;
}
.our_clients {
	height: 65px;
	margin: 40px;
	width: 185px;
}
/*section*/
.white, .white2, .white3 {
	background: #ECF0F1;
}
.white {
	height: 900px;
}
.white2 {
	height: 500px;
}
.white3 {
	height: 820px;
}
.green, .purple {
	color: #fff;
}
.green {
	background: #27AE60;
	height: 1000px;
}
.purple {
	background: #9B59B6;
	height: 730px;
	padding-top: 445px;
	padding-bottom: 115px;
}
/* ======= Навигация footer======= */
.nav {
	height: 50px;
	padding-top: 75px;
	padding-right: 410px;
	text-align: right;
}
.nav li {
	display: inline-block;
	margin: 0 12.5px;
	vertical-align: bottom;
}
.nav li:last-child {
	margin-right: 0;
}
.nav a {
	color: #fff;
	text-transform: uppercase;
}
.nav a:hover {
	color: #648880;
}
.img_footer {
	float: left;
	font-weight: 400;
	padding-left: 410px;
	padding-top: 65px;
}
/* ======= Кнопки ======= */
.btn {
	background: #3498DB;
	border-radius: 50px;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-weight: 400;
	height: 75px;
	letter-spacing: 0.5px;
	margin-bottom: 80px;
	margin-top: 20px;
}
.btn-alt {
	border: 1px solid #3498DB;
	padding: 30px 80px;
}
.btn-alt:hover {
	background: #fff;
	color: #3498DB;
}