.footer_bg {
    background-color: #d75d0e;
    padding: {
        top: 95px;
        bottom: 70px;
    };
}

.list__style {
    list-style: none;
    padding: {
        left: 10px;
        right: 10px;
    };
}