.menu_item {
    padding: {
        right: 20px;
    };
    width: max-content;
}

.navbar {
    height: 147px;
}

.navbar-light .navbar-nav .nav-link {
    color: #31353e;
    padding: {
        right: 15px;
        left: 15px;
    };
}

.navbar-light .navbar-nav .active .nav-link {
    background-color: #dd4b2b;
    border-radius: 25px;
    color: #fff;
}

.navbar-light .navbar-nav .nav-link:hover {
    background-color: #dd4b2b;
    border-radius: 25px;
    color: #fff;
}
