$button-color: #ccc;

$fontRoboto: 'Roboto', sans-serif;
$fontPlayfair: 'Playfair Display', sans-serif;
$fontHammersmithOne: 'Hammersmith One', sans-serif;

$textColor: #413d4b;
$textColorMain: #fff;
